html, body, #root {
  background-color: #F9F9F9;
}

.app {
  text-align: center;
  margin-bottom: 50px;
  max-width: 600px;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  justify-content: center;
}

.preset-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.preset {
  font-size: 70%;
  padding: 4px;
  margin: 10px;
  border-radius: 5px;
  background: #444;
  color: white;
  height: 100px;
  width: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.preset-colors, .preset-name {
  flex: 1;
  width: 100%;
}

.preset-name {
  height: 20%;
  flex-grow: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.preset-colors {
  border-radius: 4px;
  height: 80%;
  flex-grow: 4;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  width: 400px;
  max-width: 600px;
  margin-bottom: 40px;
}

.caret-icon {
  position: absolute;
  right: 1rem;
  top: 1.25rem;
  fill: #333;
}

.animation-list {
  margin-top: 15px;
}

.rrs--options-visible .caret-icon {
  transform: rotate(180deg);
}

/* OPTIONAL - animate opening of the options panel */
.rrs__options {
  transition: all .2s cubic-bezier(0.19, 1, 0.22, 1);
  max-height: 0;
  opacity: 0;
}

/* OPTIONAL - animate opening of the options panel */
.rrs--options-visible .rrs__options {
  opacity: 1;
}
